<div class="container">


    <h1>Last chance for humanity</h1>
    <p class="first">
        <span>Many years ago,</span><span>the world became dominated by machines after the most ferocious war humanity had ever seen.</span>
    </p>

    <p class="second">
        <span>Right now,</span>
        <span>you are one of the few humans who stays alive,</span><span>and the leader of the machines (a.k.a. LOM) brings you the opportunity to travel back in time to the moment when everything changed.</span>
    <p class="third"><span>It is up to you to please LOM to earn another chance for humanity.</span>
        <span>LOM only ask you to do one thing: Answer the questions that he prepared for you.</span>
    </p>
    <p class="fourth"><span>Will you dare to earn that chance...?</span></p>


    <div class="intro-form">
        <a class="yes" (click)="goToQuiz()">Yes.</a>
        <a class="no" (click)="goToEnd()">No.</a>
    </div>

</div>