<div class="container">


<h1>Last chance for humanity</h1>
<form [formGroup]="form" (ngSubmit)="submit()">

<div class="form-group">
<div class="bordered">
   <div class="question-header">Which of these instruments normally has 5 strings</div>
   <div class="option"><label class="label"><input formControlName="language" type="radio" id="radio1"  (change)="change($event)" name="language" value="guitar"> Sitar </label></div>
<div class="option"><label class="label"><input formControlName="language" type="radio" id="radio2" (change)="change($event)" name="language" value="cello"> Cello </label></div>
<div class="option"><label class="label"><input formControlName="language" type="radio" id="radio3" (change)="change($event)" name="language" value="bass"> Bass </label></div>
<div class="option"><label class="label"><input formControlName="language" type="radio" id="radio4" (change)="change($event)" name="language" value="guitar"> Guitar </label></div>

<div class="option"><button type="submit" >Submit</button></div>

</div>
<!-- <div class="bordered">
    <div class="question-header">Which is the best option for taking out a beer</div>
    <div class="option"><label class="label"><input type="radio" id="cbox1" value="first_checkbox"> Option 1</label></div>
    <div class="option"><label class="label"><input type="radio" id="cbox2" value="first_checkbox"> Option 2</label></div>
    <div class="option"><label class="label"><input type="radio" id="cbox3" value="first_checkbox"> Option 3</label></div>
</div>

<div class="bordered">
    <div class="question-header">Which is the best option for taking out a beer</div>
    <div class="option"><label class="label"><input type="radio" id="cbox1" value="first_checkbox"> Option 1</label></div>
    <div class="option"><label class="label"><input type="radio" id="cbox2" value="first_checkbox"> Option 2</label></div>
    <div class="option"><label class="label"><input type="radio" id="cbox3" value="first_checkbox"> Option 3</label></div>
</div>
<div class="bordered">
    <div class="question-header">Which is the best option for taking out a beer</div>
    <div class="option"><label class="label"><input type="radio" id="cbox1" value="first_checkbox"> Option 1</label></div>
    <div class="option"><label class="label"><input type="radio" id="cbox2" value="first_checkbox"> Option 2</label></div>
    <div class="option"><label class="label"><input type="radio" id="cbox3" value="first_checkbox"> Option 3</label></div>

    </div> -->


</div>
</form>

</div>
<router-outlet></router-outlet>
