/* You can add global styles to this file, and also import other style files */

html {
    background-color: #ffffffab;
    font-family: 'Courier New', monospace;
    font-weight: 400;
    font-size: 22px;

    button {
        background-color: #ffffffab;
        font-family: 'Courier New', monospace;
        font-weight: 400;
        font-size: 22px;
    }
}


.bordered {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

